<!DOCTYPE html>
<html lang="eng">
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="projects.html">Projects</a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
</nav>

<h1>About Me</h1>

<p>
Information Science graduate with an interest in
data analytics, environmental research, and business intelligence.
</p>

</body>
</html>