<!DOCTYPE html>
<head>
    <title>Elle's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
   <a href="/">Home</a>
    <a href="projects.html">Projects</a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
</nav>

<header>
    <h1>Christelle Renaud</h1>
    <h2>Aspiring Software Developer</h2>
</header>

<section>
    <h3>Welcome</h3>
    <p>
        I build software projects focused on environmental,
        social, and business issues.
    </p>
</section>

<section>
    <h3>Skills</h3>
    <ul>
        <li>Python</li>
        <li>SQL</li>
        <li>R</li>
        <li>Tableau</li>
        <li>Excel</li>
        <li>Data Visualization</li>
    </ul>
</section>

</body>
